{% extends 'app/padre.html' %}

{% load static %}

{% block content %}
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<body>
    
    <form action="" method="POST">{%csrf_token%}
        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
        
        {{form.as_p}}

    <button type="submit"> Iniciar Sesión</button>

    <button><a href="register">Si no tiene usuario, puede registrarse.</a></button>
</body>
</html>

{% endblock %}